*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-Wrraper{
    display: flex;
    flex-direction: row;
}
.card-big{
    display: flex;
    justify-content: center;
}
img.image{
    width: 620px;
    height: 85vh;
}
.li{
    display: flex;
}
